{
  "swagger": "2.0",
  "info": {
    "title": "wx/user.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "UserService"
    }
  ],
  "host": "api.zuoyinyun.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/wx.user.UserService/info": {
      "post": {
        "operationId": "UserService_Info",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/userInfoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "UserService"
        ]
      }
    },
    "/wx.user.UserService/login": {
      "post": {
        "summary": "小程序登录, 返回oauth的token",
        "operationId": "UserService_Login",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wxuserLoginResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/wxuserLoginRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    },
    "/wx.user.UserService/users": {
      "get": {
        "operationId": "UserService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wxuserListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "UserService"
        ]
      },
      "post": {
        "operationId": "UserService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wxuserCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/wxuserCreateRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    },
    "/wx.user.UserService/users/userId/{userId}": {
      "get": {
        "operationId": "UserService_GetByUserId",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/userGetByUserIdResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    },
    "/wx.user.UserService/users/{id}": {
      "get": {
        "operationId": "UserService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wxuserGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "UserService"
        ]
      },
      "delete": {
        "operationId": "UserService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wxuserDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "UserService"
        ]
      },
      "patch": {
        "operationId": "UserService_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wxuserUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "wxUser": {
                  "$ref": "#/definitions/userNewUser"
                }
              }
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    }
  },
  "definitions": {
    "authToken": {
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "tokenType": {
          "type": "string"
        },
        "expiresIn": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "authauthUser": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "id11"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "userGetByUserIdResponse": {
      "type": "object",
      "properties": {
        "wxUser": {
          "$ref": "#/definitions/wxuserUser"
        }
      }
    },
    "userInfoResponse": {
      "type": "object",
      "properties": {
        "wxUser": {
          "$ref": "#/definitions/wxuserUser"
        }
      }
    },
    "userNewUser": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "title": "openid"
        },
        "openid": {
          "type": "string",
          "title": "openid"
        },
        "unionid": {
          "type": "string",
          "title": "user title"
        },
        "sessionKey": {
          "type": "string",
          "title": "lottery image"
        },
        "name": {
          "type": "string"
        },
        "avatar": {
          "type": "integer",
          "format": "int32"
        },
        "mobile": {
          "type": "string"
        }
      }
    },
    "wxuserCreateRequest": {
      "type": "object",
      "properties": {
        "wxUser": {
          "$ref": "#/definitions/userNewUser"
        }
      }
    },
    "wxuserCreateResponse": {
      "type": "object",
      "properties": {
        "wxUser": {
          "$ref": "#/definitions/wxuserUser"
        }
      }
    },
    "wxuserDeleteResponse": {
      "type": "object"
    },
    "wxuserGetResponse": {
      "type": "object",
      "properties": {
        "wxUser": {
          "$ref": "#/definitions/wxuserUser"
        }
      }
    },
    "wxuserListResponse": {
      "type": "object",
      "properties": {
        "wxUsers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/wxuserUser"
          }
        }
      }
    },
    "wxuserLoginRequest": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        }
      }
    },
    "wxuserLoginResponse": {
      "type": "object",
      "properties": {
        "token": {
          "$ref": "#/definitions/authToken"
        },
        "user": {
          "$ref": "#/definitions/authauthUser"
        }
      }
    },
    "wxuserUpdateResponse": {
      "type": "object",
      "properties": {
        "wxUser": {
          "$ref": "#/definitions/wxuserUser"
        }
      }
    },
    "wxuserUser": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "openid"
        },
        "userId": {
          "type": "string",
          "title": "openid"
        },
        "openid": {
          "type": "string",
          "title": "openid"
        },
        "unionid": {
          "type": "string",
          "title": "user title"
        },
        "sessionKey": {
          "type": "string",
          "title": "lottery image"
        },
        "name": {
          "type": "string"
        },
        "avatar": {
          "type": "integer",
          "format": "int32"
        },
        "mobile": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Lottery item"
    }
  }
}
