{
  "swagger": "2.0",
  "info": {
    "title": "wx/wx.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "WxService"
    }
  ],
  "host": "api.zuoyinyun.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/wx.wx.WxService/sns": {
      "post": {
        "operationId": "WxService_SnsJscode2session",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/wxSnsJscode2sessionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "appid",
            "description": "小程序 appId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "secret",
            "description": "小程序 appSecret",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "jsCode",
            "description": "登录时获取的 code，可通过[wx.login](https://developers.weixin.qq.com/miniprogram/dev/api/open-api/login/wx.login.html)获取",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "grantType",
            "description": "授权类型，此处只需填写 authorization_code",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WxService"
        ]
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "wxSnsJscode2sessionResponse": {
      "type": "object",
      "properties": {
        "sessionKey": {
          "type": "string",
          "title": "会话密钥"
        },
        "unionid": {
          "type": "string",
          "title": "用户在开放平台的唯一标识符，若当前小程序已绑定到微信开放平台帐号下会返回，详见\n[UnionID 机制说明](https://developers.weixin.qq.com/miniprogram/dev/framework/open-ability/union-id.html)。"
        },
        "openid": {
          "type": "string",
          "title": "用户唯一标识"
        }
      }
    }
  }
}
