{
  "swagger": "2.0",
  "info": {
    "title": "blog/blog.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "BlogService"
    }
  ],
  "host": "api.zuoyinyun.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/blog.blog.BlogService/blogs": {
      "get": {
        "operationId": "BlogService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/blogblogListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "paginate.page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paginate.perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "BlogService"
        ]
      },
      "post": {
        "operationId": "BlogService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/blogblogCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/blogblogCreateRequest"
            }
          }
        ],
        "tags": [
          "BlogService"
        ]
      }
    },
    "/blog.blog.BlogService/blogs/{id}": {
      "get": {
        "operationId": "BlogService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/blogblogGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "BlogService"
        ]
      },
      "delete": {
        "operationId": "BlogService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/blogblogDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "BlogService"
        ]
      },
      "patch": {
        "operationId": "BlogService_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/blogblogUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "blog": {
                  "$ref": "#/definitions/blogNewBlog"
                }
              }
            }
          }
        ],
        "tags": [
          "BlogService"
        ]
      }
    }
  },
  "definitions": {
    "blogBlog": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "title": {
          "type": "string",
          "title": "blog title"
        },
        "image": {
          "type": "string",
          "title": "blog image"
        },
        "summary": {
          "type": "string",
          "title": "blog summary"
        },
        "markdown": {
          "type": "string",
          "title": "markdown"
        },
        "author": {
          "type": "string",
          "title": "author"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Blog item"
    },
    "blogNewBlog": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "title": "blog title"
        },
        "image": {
          "type": "string",
          "title": "blog image"
        },
        "summary": {
          "type": "string",
          "title": "blog summary"
        },
        "markdown": {
          "type": "string",
          "title": "markdown"
        },
        "author": {
          "type": "string",
          "title": "author"
        }
      },
      "title": "New Blog item"
    },
    "blogblogCreateRequest": {
      "type": "object",
      "properties": {
        "blog": {
          "$ref": "#/definitions/blogNewBlog"
        }
      }
    },
    "blogblogCreateResponse": {
      "type": "object",
      "properties": {
        "blog": {
          "$ref": "#/definitions/blogBlog"
        }
      }
    },
    "blogblogDeleteResponse": {
      "type": "object"
    },
    "blogblogGetResponse": {
      "type": "object",
      "properties": {
        "blog": {
          "$ref": "#/definitions/blogBlog"
        }
      }
    },
    "blogblogListResponse": {
      "type": "object",
      "properties": {
        "blogs": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/blogBlog"
          }
        },
        "paginated": {
          "$ref": "#/definitions/paginatePaginated"
        }
      }
    },
    "blogblogUpdateResponse": {
      "type": "object",
      "properties": {
        "blog": {
          "$ref": "#/definitions/blogBlog"
        }
      }
    },
    "paginatePaginate": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Paginate item"
    },
    "paginatePaginated": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        },
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  }
}
