{
  "swagger": "2.0",
  "info": {
    "title": "user/user.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "UserService"
    }
  ],
  "host": "api.zuoyinyun.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/user.user.UserService/loginMobile": {
      "post": {
        "operationId": "UserService_LoginMobile",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/authToken"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/userLoginMobileRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    },
    "/user.user.UserService/loginWeixin": {
      "post": {
        "operationId": "UserService_LoginWeixin",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/authToken"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/userLoginWeixinRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    },
    "/user.user.UserService/registerMobile": {
      "post": {
        "operationId": "UserService_RegisterMobile",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/authToken"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/userRegisterMobileRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    }
  },
  "definitions": {
    "authToken": {
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "string",
          "title": "表示访问令牌，必选项。 JWTPayload"
        },
        "tokenType": {
          "type": "string",
          "title": "表示令牌类型，该值大小写不敏感，必选项，可以是bearer类型或mac类型。"
        },
        "expiresIn": {
          "type": "integer",
          "format": "int32",
          "title": "表示过期时间，单位为秒。如果省略该参数，必须其他方式设置过期时间。"
        },
        "refreshToken": {
          "type": "string",
          "title": "表示更新令牌，用来获取下一次的访问令牌，可选项。"
        },
        "scope": {
          "type": "string",
          "title": "表示权限范围，如果与客户端申请的范围一致，此项可省略。"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "userLoginMobileRequest": {
      "type": "object",
      "properties": {
        "mobile": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "userLoginWeixinRequest": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        }
      }
    },
    "userRegisterMobileRequest": {
      "type": "object",
      "properties": {
        "mobile": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    }
  }
}
