{
  "swagger": "2.0",
  "info": {
    "title": "lottery/favorite.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "FavoriteService"
    }
  ],
  "host": "api.zuoyinyun.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/lottery.favorite.FavoriteService/favorites": {
      "get": {
        "operationId": "FavoriteService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotteryfavoriteListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "paginate.page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paginate.perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "FavoriteService"
        ]
      },
      "post": {
        "operationId": "FavoriteService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotteryfavoriteCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/lotteryfavoriteCreateRequest"
            }
          }
        ],
        "tags": [
          "FavoriteService"
        ]
      }
    },
    "/lottery.favorite.FavoriteService/favorites/{id}": {
      "get": {
        "operationId": "FavoriteService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotteryfavoriteGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "FavoriteService"
        ]
      },
      "delete": {
        "operationId": "FavoriteService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotteryfavoriteDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "FavoriteService"
        ]
      },
      "put": {
        "operationId": "FavoriteService_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotteryfavoriteUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "favorite": {
                  "$ref": "#/definitions/lotteryfavoriteNewFavorite"
                }
              }
            }
          }
        ],
        "tags": [
          "FavoriteService"
        ]
      }
    }
  },
  "definitions": {
    "lotteryItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lotteryId": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "title": "lottery title"
        },
        "value": {
          "type": "integer",
          "format": "int32",
          "title": "lottery summary"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Lottery item"
    },
    "lotteryLottery": {
      "type": "object",
      "properties": {
        "lottery": {
          "$ref": "#/definitions/lotteryLotteryInfo"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/lotteryItem"
          }
        },
        "remarks": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/lotteryRemark"
          }
        }
      }
    },
    "lotteryLotteryInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "userId": {
          "type": "string",
          "title": "id"
        },
        "title": {
          "type": "string",
          "title": "lottery title"
        },
        "type": {
          "$ref": "#/definitions/lotterylotteryType",
          "title": "lottery image"
        },
        "remark": {
          "type": "boolean",
          "title": "lottery summary"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Lottery item"
    },
    "lotteryRemark": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lotteryId": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "title": "lottery title"
        },
        "require": {
          "type": "boolean",
          "title": "lottery summary"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Lottery item"
    },
    "lotteryfavoriteCreateRequest": {
      "type": "object",
      "properties": {
        "favorite": {
          "$ref": "#/definitions/lotteryfavoriteNewFavorite"
        }
      }
    },
    "lotteryfavoriteCreateResponse": {
      "type": "object",
      "properties": {
        "favorite": {
          "$ref": "#/definitions/lotteryfavoriteFavoriteWithLottery"
        }
      }
    },
    "lotteryfavoriteDeleteResponse": {
      "type": "object"
    },
    "lotteryfavoriteFavorite": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "userId": {
          "type": "string"
        },
        "lotteryId": {
          "type": "integer",
          "format": "int32"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "lotteryfavoriteFavoriteWithLottery": {
      "type": "object",
      "properties": {
        "favorite": {
          "$ref": "#/definitions/lotteryfavoriteFavorite"
        },
        "lottery": {
          "$ref": "#/definitions/lotteryLottery"
        }
      }
    },
    "lotteryfavoriteGetResponse": {
      "type": "object",
      "properties": {
        "favorite": {
          "$ref": "#/definitions/lotteryfavoriteFavoriteWithLottery"
        }
      }
    },
    "lotteryfavoriteListResponse": {
      "type": "object",
      "properties": {
        "favorites": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/lotteryfavoriteFavoriteWithLottery"
          }
        },
        "paginated": {
          "$ref": "#/definitions/paginatePaginated"
        }
      }
    },
    "lotteryfavoriteNewFavorite": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        },
        "lotteryId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "lotteryfavoriteUpdateResponse": {
      "type": "object",
      "properties": {
        "favorite": {
          "$ref": "#/definitions/lotteryfavoriteFavoriteWithLottery"
        }
      }
    },
    "lotterylotteryType": {
      "type": "string",
      "enum": [
        "NUMBER",
        "PERCENT"
      ],
      "default": "NUMBER",
      "description": "- NUMBER: 个数\n - PERCENT: 几率",
      "title": "抽签类型"
    },
    "paginatePaginate": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Paginate item"
    },
    "paginatePaginated": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        },
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://example.com/oauth/authorize",
      "tokenUrl": "https://example.com/oauth/token",
      "scopes": {
        "login": ""
      }
    }
  }
}
