{
  "swagger": "2.0",
  "info": {
    "title": "lottery/template.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "TemplateService"
    }
  ],
  "host": "api.zuoyinyun.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/lottery.template.TemplateService/templates": {
      "get": {
        "operationId": "TemplateService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotterytemplateListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "paginate.page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paginate.perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "TemplateService"
        ]
      },
      "post": {
        "operationId": "TemplateService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotterytemplateCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/lotterytemplateCreateRequest"
            }
          }
        ],
        "tags": [
          "TemplateService"
        ]
      }
    },
    "/lottery.template.TemplateService/templates/{id}": {
      "get": {
        "operationId": "TemplateService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotterytemplateGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "TemplateService"
        ]
      },
      "delete": {
        "operationId": "TemplateService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotterytemplateDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "TemplateService"
        ]
      },
      "put": {
        "operationId": "TemplateService_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotterytemplateUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "template": {
                  "$ref": "#/definitions/templateNewTemplate"
                }
              }
            }
          }
        ],
        "tags": [
          "TemplateService"
        ]
      }
    }
  },
  "definitions": {
    "lotteryItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lotteryId": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "title": "lottery title"
        },
        "value": {
          "type": "integer",
          "format": "int32",
          "title": "lottery summary"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Lottery item"
    },
    "lotteryLottery": {
      "type": "object",
      "properties": {
        "lottery": {
          "$ref": "#/definitions/lotteryLotteryInfo"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/lotteryItem"
          }
        },
        "remarks": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/lotteryRemark"
          }
        }
      }
    },
    "lotteryLotteryInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "userId": {
          "type": "string",
          "title": "id"
        },
        "title": {
          "type": "string",
          "title": "lottery title"
        },
        "type": {
          "$ref": "#/definitions/lotterylotteryType",
          "title": "lottery image"
        },
        "remark": {
          "type": "boolean",
          "title": "lottery summary"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Lottery item"
    },
    "lotteryRemark": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lotteryId": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "title": "lottery title"
        },
        "require": {
          "type": "boolean",
          "title": "lottery summary"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Lottery item"
    },
    "lotterylotteryType": {
      "type": "string",
      "enum": [
        "NUMBER",
        "PERCENT"
      ],
      "default": "NUMBER",
      "description": "- NUMBER: 个数\n - PERCENT: 几率",
      "title": "抽签类型"
    },
    "lotterytemplateCreateRequest": {
      "type": "object",
      "properties": {
        "template": {
          "$ref": "#/definitions/templateNewTemplate"
        }
      }
    },
    "lotterytemplateCreateResponse": {
      "type": "object",
      "properties": {
        "template": {
          "$ref": "#/definitions/templateTemplateWithLottery"
        }
      }
    },
    "lotterytemplateDeleteResponse": {
      "type": "object"
    },
    "lotterytemplateGetResponse": {
      "type": "object",
      "properties": {
        "template": {
          "$ref": "#/definitions/templateTemplateWithLottery"
        }
      }
    },
    "lotterytemplateListResponse": {
      "type": "object",
      "properties": {
        "templates": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/templateTemplateWithLottery"
          }
        },
        "paginated": {
          "$ref": "#/definitions/paginatePaginated"
        }
      }
    },
    "lotterytemplateUpdateResponse": {
      "type": "object",
      "properties": {
        "template": {
          "$ref": "#/definitions/templateTemplateWithLottery"
        }
      }
    },
    "paginatePaginate": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Paginate item"
    },
    "paginatePaginated": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        },
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "templateNewTemplate": {
      "type": "object",
      "properties": {
        "lotteryId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "templateTemplate": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lotteryId": {
          "type": "integer",
          "format": "int32"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "templateTemplateWithLottery": {
      "type": "object",
      "properties": {
        "template": {
          "$ref": "#/definitions/templateTemplate"
        },
        "lottery": {
          "$ref": "#/definitions/lotteryLottery"
        }
      }
    }
  },
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://example.com/oauth/authorize",
      "tokenUrl": "https://example.com/oauth/token",
      "scopes": {
        "login": ""
      }
    }
  }
}
