{
  "swagger": "2.0",
  "info": {
    "title": "health/department.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "HepartmentService"
    }
  ],
  "host": "api.zuoyinyun.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/health.department.HepartmentService/departments": {
      "get": {
        "operationId": "HepartmentService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthdepartmentListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "paginate.page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paginate.perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "HepartmentService"
        ]
      },
      "post": {
        "operationId": "HepartmentService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthdepartmentCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/healthdepartmentCreateRequest"
            }
          }
        ],
        "tags": [
          "HepartmentService"
        ]
      }
    },
    "/health.department.HepartmentService/departments/{id}": {
      "get": {
        "operationId": "HepartmentService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthdepartmentGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "HepartmentService"
        ]
      },
      "delete": {
        "operationId": "HepartmentService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthdepartmentDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "HepartmentService"
        ]
      },
      "put": {
        "operationId": "HepartmentService_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthdepartmentUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "department": {
                  "$ref": "#/definitions/departmentNewHepartment"
                }
              }
            }
          }
        ],
        "tags": [
          "HepartmentService"
        ]
      }
    }
  },
  "definitions": {
    "departmentHepartment": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "hospitalId": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "department struct"
    },
    "departmentNewHepartment": {
      "type": "object",
      "properties": {
        "hospitalId": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "healthdepartmentCreateRequest": {
      "type": "object",
      "properties": {
        "department": {
          "$ref": "#/definitions/departmentNewHepartment"
        }
      }
    },
    "healthdepartmentCreateResponse": {
      "type": "object",
      "properties": {
        "department": {
          "$ref": "#/definitions/departmentHepartment"
        }
      }
    },
    "healthdepartmentDeleteResponse": {
      "type": "object"
    },
    "healthdepartmentGetResponse": {
      "type": "object",
      "properties": {
        "department": {
          "$ref": "#/definitions/departmentHepartment"
        },
        "hospital": {
          "$ref": "#/definitions/hospitalHospital"
        }
      }
    },
    "healthdepartmentListResponse": {
      "type": "object",
      "properties": {
        "department": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/departmentHepartment"
          }
        },
        "paginated": {
          "$ref": "#/definitions/paginatePaginated"
        }
      }
    },
    "healthdepartmentUpdateResponse": {
      "type": "object",
      "properties": {
        "department": {
          "$ref": "#/definitions/departmentHepartment"
        }
      }
    },
    "hospitalHospital": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "hospital struct"
    },
    "paginatePaginate": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Paginate item"
    },
    "paginatePaginated": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        },
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  }
}
