{
  "swagger": "2.0",
  "info": {
    "title": "health/hospital.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "HospitalService"
    }
  ],
  "host": "api.zuoyinyun.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/health.hospital.HospitalService/hospitals": {
      "get": {
        "operationId": "HospitalService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthhospitalListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "paginate.page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paginate.perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "HospitalService"
        ]
      },
      "post": {
        "operationId": "HospitalService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthhospitalCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/healthhospitalCreateRequest"
            }
          }
        ],
        "tags": [
          "HospitalService"
        ]
      }
    },
    "/health.hospital.HospitalService/hospitals/{id}": {
      "get": {
        "operationId": "HospitalService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthhospitalGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "HospitalService"
        ]
      },
      "delete": {
        "operationId": "HospitalService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthhospitalDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "HospitalService"
        ]
      },
      "put": {
        "operationId": "HospitalService_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthhospitalUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "hospital": {
                  "$ref": "#/definitions/hospitalNewHospital"
                }
              }
            }
          }
        ],
        "tags": [
          "HospitalService"
        ]
      }
    }
  },
  "definitions": {
    "healthhospitalCreateRequest": {
      "type": "object",
      "properties": {
        "hospital": {
          "$ref": "#/definitions/hospitalNewHospital"
        }
      }
    },
    "healthhospitalCreateResponse": {
      "type": "object",
      "properties": {
        "hospital": {
          "$ref": "#/definitions/hospitalHospital"
        }
      }
    },
    "healthhospitalDeleteResponse": {
      "type": "object"
    },
    "healthhospitalGetResponse": {
      "type": "object",
      "properties": {
        "hospital": {
          "$ref": "#/definitions/hospitalHospital"
        }
      }
    },
    "healthhospitalListResponse": {
      "type": "object",
      "properties": {
        "hospital": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/hospitalHospital"
          }
        },
        "paginated": {
          "$ref": "#/definitions/paginatePaginated"
        }
      }
    },
    "healthhospitalUpdateResponse": {
      "type": "object",
      "properties": {
        "hospital": {
          "$ref": "#/definitions/hospitalHospital"
        }
      }
    },
    "hospitalHospital": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "hospital struct"
    },
    "hospitalNewHospital": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      }
    },
    "paginatePaginate": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Paginate item"
    },
    "paginatePaginated": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        },
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  }
}
