{
  "swagger": "2.0",
  "info": {
    "title": "health/nurse.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "NurseService"
    }
  ],
  "host": "api.zuoyinyun.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/health.nurse.NurseService/nurses": {
      "get": {
        "operationId": "NurseService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthnurseListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "paginate.page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paginate.perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "NurseService"
        ]
      },
      "post": {
        "operationId": "NurseService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthnurseCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/healthnurseCreateRequest"
            }
          }
        ],
        "tags": [
          "NurseService"
        ]
      }
    },
    "/health.nurse.NurseService/nurses/{id}": {
      "get": {
        "operationId": "NurseService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthnurseGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "NurseService"
        ]
      },
      "delete": {
        "operationId": "NurseService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthnurseDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "NurseService"
        ]
      },
      "put": {
        "operationId": "NurseService_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthnurseUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "nurse": {
                  "$ref": "#/definitions/nurseNewNurse"
                }
              }
            }
          }
        ],
        "tags": [
          "NurseService"
        ]
      }
    }
  },
  "definitions": {
    "healthnurseCreateRequest": {
      "type": "object",
      "properties": {
        "nurse": {
          "$ref": "#/definitions/nurseNewNurse"
        }
      }
    },
    "healthnurseCreateResponse": {
      "type": "object",
      "properties": {
        "nurse": {
          "$ref": "#/definitions/nurseNurse"
        }
      }
    },
    "healthnurseDeleteResponse": {
      "type": "object"
    },
    "healthnurseGetResponse": {
      "type": "object",
      "properties": {
        "nurse": {
          "$ref": "#/definitions/nurseNurse"
        },
        "hospital": {
          "$ref": "#/definitions/hospitalHospital"
        }
      }
    },
    "healthnurseListResponse": {
      "type": "object",
      "properties": {
        "nurse": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/nurseNurse"
          }
        },
        "paginated": {
          "$ref": "#/definitions/paginatePaginated"
        }
      }
    },
    "healthnurseUpdateResponse": {
      "type": "object",
      "properties": {
        "nurse": {
          "$ref": "#/definitions/nurseNurse"
        }
      }
    },
    "hospitalHospital": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "hospital struct"
    },
    "nurseNewNurse": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        },
        "departmentId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "nurseNurse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "userId": {
          "type": "string"
        },
        "departmentId": {
          "type": "integer",
          "format": "int32"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "nurse struct"
    },
    "paginatePaginate": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Paginate item"
    },
    "paginatePaginated": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        },
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  }
}
