{
  "swagger": "2.0",
  "info": {
    "title": "health/patient.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "PatientService"
    }
  ],
  "host": "api.zuoyinyun.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/health.patient.PatientService/patients": {
      "get": {
        "operationId": "PatientService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthpatientListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "paginate.page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paginate.perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "PatientService"
        ]
      },
      "post": {
        "operationId": "PatientService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthpatientCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/healthpatientCreateRequest"
            }
          }
        ],
        "tags": [
          "PatientService"
        ]
      }
    },
    "/health.patient.PatientService/patients/{id}": {
      "get": {
        "operationId": "PatientService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthpatientGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "PatientService"
        ]
      },
      "delete": {
        "operationId": "PatientService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthpatientDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "PatientService"
        ]
      },
      "patch": {
        "operationId": "PatientService_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/healthpatientUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "patient": {
                  "$ref": "#/definitions/patientNewPatient"
                }
              }
            }
          }
        ],
        "tags": [
          "PatientService"
        ]
      }
    }
  },
  "definitions": {
    "healthpatientCreateRequest": {
      "type": "object",
      "properties": {
        "patient": {
          "$ref": "#/definitions/patientNewPatient"
        }
      }
    },
    "healthpatientCreateResponse": {
      "type": "object",
      "properties": {
        "patient": {
          "$ref": "#/definitions/patientPatient"
        }
      }
    },
    "healthpatientDeleteResponse": {
      "type": "object"
    },
    "healthpatientGetResponse": {
      "type": "object",
      "properties": {
        "patient": {
          "$ref": "#/definitions/patientPatient"
        },
        "hospital": {
          "$ref": "#/definitions/hospitalHospital"
        }
      }
    },
    "healthpatientListResponse": {
      "type": "object",
      "properties": {
        "patient": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/patientPatient"
          }
        },
        "paginated": {
          "$ref": "#/definitions/paginatePaginated"
        }
      }
    },
    "healthpatientUpdateResponse": {
      "type": "object",
      "properties": {
        "patient": {
          "$ref": "#/definitions/patientPatient"
        }
      }
    },
    "hospitalHospital": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "hospital struct"
    },
    "paginatePaginate": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Paginate item"
    },
    "paginatePaginated": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        },
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "patientNewPatient": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        },
        "departmentId": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "patientPatient": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "userId": {
          "type": "string"
        },
        "departmentId": {
          "type": "integer",
          "format": "int32"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "patient struct"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  }
}
