{
  "swagger": "2.0",
  "info": {
    "title": "auth/auth.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "AuthService"
    }
  ],
  "host": "api.zuoyinyun.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/auth.auth.AuthService/authorize": {
      "get": {
        "operationId": "AuthService_Authorize",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/authAuthorizeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "responseType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "redirectUri",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "AuthService"
        ]
      }
    },
    "/auth.auth.AuthService/token": {
      "post": {
        "operationId": "AuthService_Token",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/authTokenResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authTokenRequest"
            }
          }
        ],
        "tags": [
          "AuthService"
        ]
      }
    }
  },
  "definitions": {
    "authAuthorizeResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        }
      }
    },
    "authClient": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "redirectUri": {
          "type": "string"
        },
        "defaultScope": {
          "type": "string"
        },
        "defaultExpiresIn": {
          "type": "integer",
          "format": "int32"
        },
        "passdata": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "client"
    },
    "authClientCreateResponse": {
      "type": "object",
      "properties": {
        "client": {
          "$ref": "#/definitions/authClient"
        }
      }
    },
    "authClientListResponse": {
      "type": "object",
      "properties": {
        "clients": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/authClient"
          }
        },
        "paginated": {
          "$ref": "#/definitions/paginatePaginated"
        }
      }
    },
    "authConfig": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "pattern": {
          "$ref": "#/definitions/authPattern"
        },
        "scope": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "url scope config"
    },
    "authConfigCreateResponse": {
      "type": "object",
      "properties": {
        "config": {
          "$ref": "#/definitions/authConfig"
        }
      }
    },
    "authConfigListResponse": {
      "type": "object",
      "properties": {
        "configs": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/authConfig"
          }
        }
      }
    },
    "authNewClient": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "redirectUri": {
          "type": "string"
        },
        "defaultScope": {
          "type": "string"
        },
        "defaultExpiresIn": {
          "type": "integer",
          "format": "int32"
        },
        "passdata": {
          "type": "string",
          "title": "oneof client_type {\n   bool public = 3;\n   string passdata = 4;\n }"
        }
      }
    },
    "authNewConfig": {
      "type": "object",
      "properties": {
        "pattern": {
          "$ref": "#/definitions/authPattern"
        },
        "scope": {
          "type": "string"
        }
      }
    },
    "authPattern": {
      "type": "object",
      "properties": {
        "equal": {
          "type": "string"
        },
        "prefix": {
          "type": "string"
        },
        "regex": {
          "type": "string"
        }
      }
    },
    "authRegisterResponse": {
      "type": "object",
      "properties": {
        "user": {
          "$ref": "#/definitions/authauthUser"
        },
        "token": {
          "$ref": "#/definitions/authToken"
        }
      }
    },
    "authResourceResponse": {
      "type": "object",
      "properties": {
        "ownerId": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "until": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "authToken": {
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "tokenType": {
          "type": "string"
        },
        "expiresIn": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "authTokenRequest": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        }
      }
    },
    "authTokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "$ref": "#/definitions/authToken"
        }
      }
    },
    "authauthLoginResponse": {
      "type": "object",
      "properties": {
        "user": {
          "$ref": "#/definitions/authauthUser"
        },
        "token": {
          "$ref": "#/definitions/authToken"
        }
      }
    },
    "authauthUser": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "id11"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "paginatePaginate": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Paginate item"
    },
    "paginatePaginated": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        },
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  }
}
