{
  "swagger": "2.0",
  "info": {
    "title": "lottery/lottery.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "LotteryService"
    }
  ],
  "host": "api.zuoyinyun.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/lottery.lottery.LotteryService/lotterys": {
      "get": {
        "operationId": "LotteryService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotterylotteryListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "lottery.id",
            "description": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "lottery.userId",
            "description": "id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "paginate.page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paginate.perPage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "LotteryService"
        ]
      },
      "post": {
        "operationId": "LotteryService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotterylotteryCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/lotterylotteryCreateRequest"
            }
          }
        ],
        "tags": [
          "LotteryService"
        ]
      }
    },
    "/lottery.lottery.LotteryService/lotterys/{id}": {
      "get": {
        "operationId": "LotteryService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotterylotteryGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "LotteryService"
        ]
      },
      "delete": {
        "operationId": "LotteryService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotterylotteryDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "LotteryService"
        ]
      },
      "patch": {
        "operationId": "LotteryService_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/lotterylotteryUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "lottery": {
                  "$ref": "#/definitions/lotteryNewLottery"
                }
              }
            }
          }
        ],
        "tags": [
          "LotteryService"
        ]
      }
    }
  },
  "definitions": {
    "lotteryItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lotteryId": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "title": "lottery title"
        },
        "value": {
          "type": "integer",
          "format": "int32",
          "title": "lottery summary"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Lottery item"
    },
    "lotteryLottery": {
      "type": "object",
      "properties": {
        "lottery": {
          "$ref": "#/definitions/lotteryLotteryInfo"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/lotteryItem"
          }
        },
        "remarks": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/lotteryRemark"
          }
        }
      }
    },
    "lotteryLotteryInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "userId": {
          "type": "string",
          "title": "id"
        },
        "title": {
          "type": "string",
          "title": "lottery title"
        },
        "type": {
          "$ref": "#/definitions/lotterylotteryType",
          "title": "lottery image"
        },
        "remark": {
          "type": "boolean",
          "title": "lottery summary"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Lottery item"
    },
    "lotteryLotteryQuery": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "userId": {
          "type": "string",
          "title": "id"
        }
      }
    },
    "lotteryNewItem": {
      "type": "object",
      "properties": {
        "lotteryId": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "title": "lottery title"
        },
        "value": {
          "type": "integer",
          "format": "int32",
          "title": "lottery summary"
        }
      }
    },
    "lotteryNewLottery": {
      "type": "object",
      "properties": {
        "lottery": {
          "$ref": "#/definitions/lotteryNewLotteryInfo",
          "title": "lottery title"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/lotteryNewItem"
          },
          "title": "lottery image"
        },
        "remarks": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/lotteryNewRemark"
          },
          "title": "lottery summary"
        }
      }
    },
    "lotteryNewLotteryInfo": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "title": "id"
        },
        "title": {
          "type": "string",
          "title": "lottery title"
        },
        "type": {
          "$ref": "#/definitions/lotterylotteryType",
          "title": "lottery image"
        },
        "remark": {
          "type": "boolean",
          "title": "lottery summary"
        }
      }
    },
    "lotteryNewRemark": {
      "type": "object",
      "properties": {
        "lotteryId": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "title": "lottery title"
        },
        "require": {
          "type": "boolean",
          "title": "lottery summary"
        }
      }
    },
    "lotteryRemark": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "lotteryId": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "title": "lottery title"
        },
        "require": {
          "type": "boolean",
          "title": "lottery summary"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Lottery item"
    },
    "lotterylotteryCreateRequest": {
      "type": "object",
      "properties": {
        "lottery": {
          "$ref": "#/definitions/lotteryNewLottery"
        }
      }
    },
    "lotterylotteryCreateResponse": {
      "type": "object",
      "properties": {
        "lottery": {
          "$ref": "#/definitions/lotteryLottery"
        }
      }
    },
    "lotterylotteryDeleteResponse": {
      "type": "object"
    },
    "lotterylotteryGetResponse": {
      "type": "object",
      "properties": {
        "lottery": {
          "$ref": "#/definitions/lotteryLottery"
        }
      }
    },
    "lotterylotteryListResponse": {
      "type": "object",
      "properties": {
        "lotterys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/lotteryLottery"
          }
        },
        "paginated": {
          "$ref": "#/definitions/paginatePaginated"
        }
      }
    },
    "lotterylotteryType": {
      "type": "string",
      "enum": [
        "NUMBER",
        "PERCENT"
      ],
      "default": "NUMBER",
      "description": "- NUMBER: 个数\n - PERCENT: 几率",
      "title": "抽签类型"
    },
    "lotterylotteryUpdateResponse": {
      "type": "object",
      "properties": {
        "lottery": {
          "$ref": "#/definitions/lotteryLottery"
        }
      }
    },
    "paginatePaginate": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Paginate item"
    },
    "paginatePaginated": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "perPage": {
          "type": "integer",
          "format": "int32"
        },
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://example.com/oauth/authorize",
      "tokenUrl": "https://example.com/oauth/token",
      "scopes": {
        "login": ""
      }
    }
  }
}
