{
  "swagger": "2.0",
  "info": {
    "title": "oauth.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "OAuthService"
    }
  ],
  "host": "yyuck.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/oauth.OAuthService/authorize": {
      "get": {
        "operationId": "OAuthService_Authorize",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/oauthAuthorizeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "responseType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "redirectUri",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "OAuthService"
        ]
      }
    },
    "/oauth.OAuthService/token": {
      "post": {
        "operationId": "OAuthService_Token",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/oauthTokenResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/oauthTokenRequest"
            }
          }
        ],
        "tags": [
          "OAuthService"
        ]
      }
    }
  },
  "definitions": {
    "oauthAuthorizeResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        }
      }
    },
    "oauthClient": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "redirectUri": {
          "type": "string"
        },
        "defaultScope": {
          "type": "string"
        },
        "passdata": {
          "type": "string"
        }
      },
      "title": "client"
    },
    "oauthClientCreateResponse": {
      "type": "object",
      "properties": {
        "client": {
          "$ref": "#/definitions/oauthClient"
        }
      }
    },
    "oauthClientListResponse": {
      "type": "object",
      "properties": {
        "clients": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/oauthClient"
          }
        }
      }
    },
    "oauthConfig": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "pattern": {
          "$ref": "#/definitions/oauthPattern"
        },
        "scope": {
          "type": "string"
        }
      },
      "title": "url scope config"
    },
    "oauthConfigCreateResponse": {
      "type": "object",
      "properties": {
        "config": {
          "$ref": "#/definitions/oauthConfig"
        }
      }
    },
    "oauthConfigListResponse": {
      "type": "object",
      "properties": {
        "configs": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/oauthConfig"
          }
        }
      }
    },
    "oauthLoginResponse": {
      "type": "object",
      "properties": {
        "user": {
          "$ref": "#/definitions/oauthUser"
        },
        "token": {
          "$ref": "#/definitions/oauthToken"
        }
      }
    },
    "oauthNewClient": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "redirectUri": {
          "type": "string"
        },
        "defaultScope": {
          "type": "string"
        },
        "passdata": {
          "type": "string",
          "title": "oneof client_type {\n   bool public = 3;\n   string passdata = 4;\n }"
        }
      }
    },
    "oauthNewConfig": {
      "type": "object",
      "properties": {
        "pattern": {
          "$ref": "#/definitions/oauthPattern"
        },
        "scope": {
          "type": "string"
        }
      }
    },
    "oauthPattern": {
      "type": "object",
      "properties": {
        "equal": {
          "type": "string"
        },
        "prefix": {
          "type": "string"
        },
        "regex": {
          "type": "string"
        }
      }
    },
    "oauthRegisterResponse": {
      "type": "object",
      "properties": {
        "user": {
          "$ref": "#/definitions/oauthUser"
        },
        "token": {
          "$ref": "#/definitions/oauthToken"
        }
      }
    },
    "oauthResourceResponse": {
      "type": "object",
      "properties": {
        "ownerId": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "redirectUri": {
          "type": "string"
        },
        "until": {
          "type": "string",
          "format": "date-time"
        },
        "extensions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "oauthToken": {
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "string"
        },
        "tokenType": {
          "type": "string"
        },
        "expiresIn": {
          "type": "integer",
          "format": "int32"
        },
        "refreshToken": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        }
      }
    },
    "oauthTokenRequest": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        }
      }
    },
    "oauthTokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "$ref": "#/definitions/oauthToken"
        }
      }
    },
    "oauthUser": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "id11"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  }
}
