{
  "swagger": "2.0",
  "info": {
    "title": "record.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "RecordService"
    }
  ],
  "host": "yyuck.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/record.RecordService/records": {
      "get": {
        "operationId": "RecordService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/recordListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "record.id",
            "description": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "record.lotteryId",
            "description": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "record.userId",
            "description": "id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "paginate.page",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "paginate.perPage",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "RecordService"
        ]
      },
      "post": {
        "operationId": "RecordService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/recordCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/recordCreateRequest"
            }
          }
        ],
        "tags": [
          "RecordService"
        ]
      }
    },
    "/record.RecordService/records/{id}": {
      "get": {
        "operationId": "RecordService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/recordGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "RecordService"
        ]
      },
      "delete": {
        "operationId": "RecordService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/recordDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "RecordService"
        ]
      },
      "patch": {
        "operationId": "RecordService_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/recordUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "record": {
                  "$ref": "#/definitions/recordNewRecord"
                }
              }
            }
          }
        ],
        "tags": [
          "RecordService"
        ]
      }
    }
  },
  "definitions": {
    "paginatePaginate": {
      "type": "object",
      "properties": {
        "page": {
          "type": "string",
          "format": "int64"
        },
        "perPage": {
          "type": "string",
          "format": "int64"
        }
      },
      "title": "Paginate item"
    },
    "paginatePaginated": {
      "type": "object",
      "properties": {
        "page": {
          "type": "string",
          "format": "int64"
        },
        "perPage": {
          "type": "string",
          "format": "int64"
        },
        "total": {
          "type": "string",
          "format": "int64"
        },
        "totalPages": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "recordCreateRequest": {
      "type": "object",
      "properties": {
        "record": {
          "$ref": "#/definitions/recordNewRecord"
        }
      }
    },
    "recordCreateResponse": {
      "type": "object",
      "properties": {
        "record": {
          "$ref": "#/definitions/recordRecord"
        }
      }
    },
    "recordDeleteResponse": {
      "type": "object"
    },
    "recordGetResponse": {
      "type": "object",
      "properties": {
        "record": {
          "$ref": "#/definitions/recordRecord"
        }
      }
    },
    "recordListResponse": {
      "type": "object",
      "properties": {
        "records": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/recordRecord"
          }
        },
        "paginated": {
          "$ref": "#/definitions/paginatePaginated"
        }
      }
    },
    "recordNewRecord": {
      "type": "object",
      "properties": {
        "record": {
          "$ref": "#/definitions/recordNewRecordInfo",
          "title": "id"
        },
        "recordRemarks": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/recordNewRecordRemark"
          }
        }
      }
    },
    "recordNewRecordInfo": {
      "type": "object",
      "properties": {
        "lotteryId": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "userId": {
          "type": "string",
          "title": "id"
        },
        "itemId": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        }
      }
    },
    "recordNewRecordRemark": {
      "type": "object",
      "properties": {
        "recordId": {
          "type": "integer",
          "format": "int32"
        },
        "remarkId": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "value": {
          "type": "string",
          "title": "lottery image"
        }
      },
      "title": "Lottery item"
    },
    "recordRecord": {
      "type": "object",
      "properties": {
        "record": {
          "$ref": "#/definitions/recordRecordInfo"
        },
        "recordRemarks": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/recordRecordRemark"
          }
        }
      }
    },
    "recordRecordInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "lotteryId": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "userId": {
          "type": "string",
          "title": "id"
        },
        "itemId": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Lottery item"
    },
    "recordRecordQuery": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "lotteryId": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "userId": {
          "type": "string",
          "title": "id"
        }
      }
    },
    "recordRecordRemark": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "recordId": {
          "type": "integer",
          "format": "int32"
        },
        "remarkId": {
          "type": "integer",
          "format": "int32",
          "title": "id"
        },
        "value": {
          "type": "string",
          "title": "lottery image"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Lottery item"
    },
    "recordUpdateResponse": {
      "type": "object",
      "properties": {
        "record": {
          "$ref": "#/definitions/recordRecord"
        }
      }
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  }
}
