{
  "swagger": "2.0",
  "info": {
    "title": "user.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "UserService"
    }
  ],
  "host": "yyuck.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/user.UserService/info": {
      "post": {
        "operationId": "UserService_Info",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/userInfoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "UserService"
        ]
      }
    },
    "/user.UserService/login": {
      "post": {
        "summary": "小程序登录, 返回oauth的token",
        "operationId": "UserService_Login",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/userLoginResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/userLoginRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    },
    "/user.UserService/users": {
      "get": {
        "operationId": "UserService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/userListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "UserService"
        ]
      },
      "post": {
        "operationId": "UserService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/userCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/userCreateRequest"
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    },
    "/user.UserService/users/{id}": {
      "get": {
        "operationId": "UserService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/userGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "UserService"
        ]
      },
      "delete": {
        "operationId": "UserService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/userDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "UserService"
        ]
      },
      "patch": {
        "operationId": "UserService_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/userUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "wxUser": {
                  "$ref": "#/definitions/userNewWxUser"
                }
              }
            }
          }
        ],
        "tags": [
          "UserService"
        ]
      }
    }
  },
  "definitions": {
    "oauthToken": {
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "string"
        },
        "tokenType": {
          "type": "string"
        },
        "expiresIn": {
          "type": "integer",
          "format": "int32"
        },
        "refreshToken": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "userCreateRequest": {
      "type": "object",
      "properties": {
        "wxUser": {
          "$ref": "#/definitions/userNewWxUser"
        }
      }
    },
    "userCreateResponse": {
      "type": "object",
      "properties": {
        "wxUser": {
          "$ref": "#/definitions/userWxUser"
        }
      }
    },
    "userDeleteResponse": {
      "type": "object"
    },
    "userGetResponse": {
      "type": "object",
      "properties": {
        "wxUser": {
          "$ref": "#/definitions/userWxUser"
        }
      }
    },
    "userInfoResponse": {
      "type": "object",
      "properties": {
        "wxUser": {
          "$ref": "#/definitions/userWxUser"
        }
      }
    },
    "userListResponse": {
      "type": "object",
      "properties": {
        "wxUsers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/userWxUser"
          }
        }
      }
    },
    "userLoginRequest": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        }
      }
    },
    "userLoginResponse": {
      "type": "object",
      "properties": {
        "token": {
          "$ref": "#/definitions/oauthToken"
        }
      }
    },
    "userNewWxUser": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "title": "openid"
        },
        "openid": {
          "type": "string",
          "title": "openid"
        },
        "unionid": {
          "type": "string",
          "title": "user title"
        },
        "sessionKey": {
          "type": "string",
          "title": "lottery image"
        },
        "name": {
          "type": "string"
        },
        "avatar": {
          "type": "string"
        },
        "mobile": {
          "type": "string"
        }
      }
    },
    "userUpdateResponse": {
      "type": "object",
      "properties": {
        "wxUser": {
          "$ref": "#/definitions/userWxUser"
        }
      }
    },
    "userWxUser": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "openid"
        },
        "userId": {
          "type": "string",
          "title": "openid"
        },
        "openid": {
          "type": "string",
          "title": "openid"
        },
        "unionid": {
          "type": "string",
          "title": "user title"
        },
        "sessionKey": {
          "type": "string",
          "title": "lottery image"
        },
        "name": {
          "type": "string"
        },
        "avatar": {
          "type": "string"
        },
        "mobile": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Lottery item"
    }
  }
}
